# Libraries

*.lvlibp

*.llb



# Shared objects (including Windows DLLs)

*.dll

*.so

*.so.*

*.dylib



# Executables

*.exe



# Metadata & Machine-Specific Files

*.aliases

*.lvlps

*.UserState
.cache/



# Build directories

Builds/